/* CSS Document */
/*###################### Styles ######################*/


body{
font-family:Arial, Helvetica, sans-serif;
text-shadow:none;
}

a:link, a:visited{ text-decoration:none;}
/*a:hover, a:active{ text-decoration:underline;}*/

.right{
float:right;
}
.left{
float:left;
}

p,h1,h2,h3,h4,h5,h6,ul,li, .ui-btn-text, .ui-input-text, .ui-body-c, .ui-overlay-c{
font-family:Arial, Helvetica, sans-serif;
text-shadow:none;
font-weight:normal;
}

.page-bg{
background:none repeat scroll 0 0 #ffffff;
}

.header-bg{
height:40px;
background: #ceb350; /* Old browsers */
background: -moz-linear-gradient(top,  #ceb350 0%, #ceb350 18%, #947034 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceb350), color-stop(18%,#ceb350), color-stop(100%,#947034)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ceb350 0%,#ceb350 18%,#947034 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb350', endColorstr='#947034',GradientType=0 ); /* IE6-9 */
}

#screenMask {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1500;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: none;
	height: 100%;
}

.text-center{
text-align:center;
}

.ui-btn-corner-all{
border-radius:4px 4px 4px 4px;
}

.pub-list ul{
list-style-type:none;
padding-left:20px;
}

.pub-list ul li{
margin:10px 0;
}

.cutm-btn{
background: #ceb350; /* Old browsers */
background: -moz-linear-gradient(top,  #ceb350 0%, #ceb350 18%, #947034 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceb350), color-stop(18%,#ceb350), color-stop(100%,#947034)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ceb350 0%,#ceb350 18%,#947034 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ceb350 0%,#ceb350 18%,#947034 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb350', endColorstr='#947034',GradientType=0 ); /* IE6-9 */
margin-bottom:16px;
border-radius:6px 6px 6px 6px;
}

.cutm-btn .ui-btn-text{
color:#ffffff;
}

.cutm-btn:hover, .cutm-btn:active{
background: #947034; /* Old browsers */
background: -moz-linear-gradient(top,  #947034 0%, #ceb350 88%, #ceb350 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#947034), color-stop(88%,#ceb350), color-stop(100%,#ceb350)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #947034 0%,#ceb350 88%,#ceb350 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #947034 0%,#ceb350 88%,#ceb350 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #947034 0%,#ceb350 88%,#ceb350 100%); /* IE10+ */
background: linear-gradient(to bottom,  #947034 0%,#ceb350 88%,#ceb350 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#947034', endColorstr='#ceb350',GradientType=0 ); /* IE6-9 */
border:1px solid #947034;
}

.cutm-btn-do{
margin-bottom:26px;
}

.cutm-btn-up{
margin-top:20px;
}

.coming-soon{
margin:20px 0;
font-size:26px;
}

.header-golden-bg{
height:30px;
background: #bfa047; /* Old browsers */
background: -moz-linear-gradient(top,  #bfa047 0%, #fde0a4 9%, #b89738 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfa047), color-stop(9%,#fde0a4), color-stop(100%,#b89738)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfa047 0%,#fde0a4 9%,#b89738 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfa047 0%,#fde0a4 9%,#b89738 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfa047 0%,#fde0a4 9%,#b89738 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfa047 0%,#fde0a4 9%,#b89738 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfa047', endColorstr='#b89738',GradientType=0 ); /* IE6-9 */
}

.golden-btn{
border-radius:50px 50px 50px 50px;
border:8px solid rgba(232,232,232,1);
width:60%;
background: #b79637; /* Old browsers */
background: -moz-linear-gradient(top,  #b79637 0%, #fcdea0 65%, #bd9a3e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b79637), color-stop(65%,#fcdea0), color-stop(100%,#bd9a3e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b79637', endColorstr='#bd9a3e',GradientType=0 ); /* IE6-9 */
}

.locate-us
{
border-radius:50px 50px 50px 50px;
background: #b79637; /* Old browsers */
background: -moz-linear-gradient(top,  #b79637 0%, #fcdea0 65%, #bd9a3e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b79637), color-stop(65%,#fcdea0), color-stop(100%,#bd9a3e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b79637 0%,#fcdea0 65%,#bd9a3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b79637', endColorstr='#bd9a3e',GradientType=0 ); /* IE6-9 */
width: 60%;
padding: 0 !important;
}

.golden-btn .ui-btn-text{
font-size:20px;
}
/*###################### landing page Styles ######################*/
.logo-banner{
margin:1% 0 4% 0;
}

.no-pad-content{
padding:3% 0;
}

.landing-pg-grid{
margin-bottom:4%;
}

.about-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 0 no-repeat;
}

.catalogue-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -100px no-repeat;
}

.account-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -200px no-repeat;
}

.onesearch-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -300px no-repeat;
}

.resources-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -400px no-repeat;
}

.participation-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -500px no-repeat;
}

.libary-services-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -600px no-repeat;
}

.libary-locator-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -700px no-repeat;
}

.ask-librarian-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -800px no-repeat;
}

.event-cal-img{
width:120px;
height:100px;
background:url(../images/sprite1.png) 0 -900px no-repeat;
}

/*###################### Booking Library Tours Form Styles ######################*/
.page-form-bg{
background:url(../images/Capture.jpg) repeat;
}

.visits-page h4{
font-weight:600;
color:#874600;
font-size:18px;
}

.booking-lib-page label, .visits-page label{
margin:20px 0 6px 0 !important;
}

/*###################### List of libraries Styles ######################*/
.list-of-lib-page{
}

.list-lib{
background:none;
box-shadow:none;
border:none;
}

.list-lib > .ui-btn-up-c{
background:#ffffff;
}

.list-lib li{
margin-bottom:16px;
}

.list-items{
border-radius:10px 10px 10px 10px;
border:1px solid #874600;
box-shadow:0 0 4px #874600;
}

.list-items h5{
font-size:16px;
font-weight:600;
margin:4px 0 12px 0;
}

.list-items p{
font-size:15px;
margin:6px 0;
}

























